{% extends "OwDR_app\index.html" %}
{% block title %}Logowanie{% endblock %}
{% block header %}
	<header class="header--main-page" style="height: 10vh; background-image: none;">
		<nav class="container container--70">
			<ul class="nav--actions">
				{% if user.is_authenticated %}
					<li class="logged-user">
						Witaj {{user.first_name}}
						<ul class="dropdown">
							<li><a href="#">Profil</a></li>
							<li><a href="#">Moje zbiórki</a></li>
							<li><a href="/admin/">Panel Administracyjny</a></li>
							<li><a href="{% url 'logout' %}">Wyloguj</a></li>
						</ul>
					</li>
					
				{% else %}
					<li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
					<li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
				{% endif %}
			</ul>

			<ul>
				<li><a href="{% url 'index' %}" class="btn btn--without-border active">Start</a></li>
				<li><a href="{% url 'index' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
				<li><a href="{% url 'index' %}#about-us" class="btn btn--without-border">O nas</a></li>
				<li><a href="{% url 'index' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
				<li><a href="{% url 'add-donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
				<li><a href="{% url 'index' %}#contact" class="btn btn--without-border">Kontakt</a></li>
			</ul>
		</nav>
	</header>
	{% endblock %}

{% block content %} 

	<section class="login-page">
		<h2>Zaloguj się</h2>
		<form action="" method="post">
			{% csrf_token %}
			<div class="form-group">
				{% comment %} <input type="email" name="email" placeholder="Email" /> {% endcomment %}
				{{ form.username }}
			</div>
			<div class="form-group">
				{% comment %} <input type="password" name="password" placeholder="Hasło" /> {% endcomment %}
				{{ form.password }}
				<a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
			</div>

			<div class="form-group form-group--buttons">
				<a href="{% url 'register' %}" class="btn btn--without-border">Załóż konto</a>
				<button class="btn" type="submit">Zaloguj się</button>
			</div>
		</form>
	</section>

{% endblock %}

{% block midsection %}
{% endblock %}